<div ng-show="user==undefined"><b>Login please <a href="#/login">Login Here</a></b></div>

<div ng-show="user!=undefined">
<span style="color:red">{{error.errorMessage}}</span>
<div ng-show="user!=undefined">
<form>
<b>Enter Email :</b><input type="email" ng-model="user.email" disabled><br>
<b>Enter password:</b><input type="password" ng-model="user.password"><br>
<b>Enter FirstName:</b><input type="text" ng-model="user.firstname"><br>
<b>Enter LastName:</b><input type="text" ng-model="user.lastname"><br>
<b>Enter Phonenumber:</b><input type="text" ng-model="user.phonenumber"><br>
<select ng-model="user.role">
<option value="STUDENT">Student</option>
<option value="ADMIN">Admin</option>
<option value="EMPLOYEE">Employee</option>
</select><br>
<button ng-click="updateuserprofile(user)">Update</button><br>
</form>
</div>
</div>